
@model hw6.Models.ViewModels.PersonDashboardVM


@{
    ViewBag.Title = "Person Data";
}

@ViewBag.client

<body background="~/Content/Background/world-bg.jpg">
</body>

@*parse suburl *@
<div class="row">
    <div class="col-md-6">
        <div class="client_info">
            <h2>@Html.DisplayFor(model => model.Person.FullName)</h2>
            <hr />
            <table>
                <tr>
                    <td>@Html.Label("Preferred Name: ")</td>
                    <td>@Html.DisplayFor(model => model.Person.PreferredName)</td>
                </tr>
                <tr>
                    <td>@Html.Label("Phone: ")</td>
                    <td>@Html.DisplayFor(model => model.Person.PhoneNumber)</td>
                </tr>
                <tr>
                    <td>@Html.Label("Fax: ") </td>
                    <td>@Html.DisplayFor(model => model.Person.FaxNumber)</td>
                </tr>
                <tr>
                    <td>@Html.Label("Email: ") </td>
                    <td><a href="mailto:@Model.Person.EmailAddress">@Html.DisplayFor(model => model.Person.EmailAddress)</a></td>
                </tr>
                <tr>
                    <td>@Html.Label("Member Since: ") </td>
                    <td>@string.Format("{0:MM/yyyy}", Convert.ToDateTime(Html.DisplayFor(model => model.Person.ValidFrom).ToString()))</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        @*client photo*@
        <p><img src="https://via.placeholder.com/150"></p>
    </div>
</div>

<br />

@*Company info*@
@*might need a true/false check for company employee*@

@if (ViewBag.companyExists == true)
{
    <div class="row">
        <div class="col-md-6">
            <div class="company_info">
                <h2>Company Information</h2>
                <hr />
                <table>
                    <tr>
                        <td>
                            @Html.Label("Company: ")
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Customer.CustomerName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Phone: ")
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Customer.PhoneNumber)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Fax: ")
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Customer.FaxNumber)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Website: ")
                        </td>
                        <td>
                            <a href="@Model.Customer.WebsiteURL">@Html.DisplayFor(model => model.Customer.WebsiteURL)</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Member Since: ")
                        </td>
                        <td>
                           @string.Format("{0:MM/yyyy}", Convert.ToDateTime(@Html.DisplayFor(model => model.Customer.ValidFrom).ToString()))
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-6">
            <div class="company_info">
                <h2>Purchase History Summary</h2>
                <hr />
                <table>
                    <tr>
                        <td>@Html.Label("Orders: ")</td>
                        <td>@Html.DisplayFor(model => model.TotalOrders)</td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Gross Sales: ")</td>
                        <td>@Html.DisplayFor(model => model.GrossSales)</td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Gross Profit: ")</td>
                        <td>@Html.DisplayFor(model => model.GrowthProfit)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <br />

    //item purchased table
    <div class="row">
        <div class="col-md-6">
            <div class="company_info">

                <h2>Items Purchased</h2> <h6><span>(10 Highest by Profit)</span></h6>

                <hr />
                <table>
                    <tr>
                        <th>@Html.Label("StockItemID")</th>
                        <th>@Html.Label("Description")</th>
                        <th>@Html.Label("Line Profit")</th>
                        <th>@Html.Label("Sales Person")</th>
                    </tr>


                    @*loop thru each item*@
                    @foreach (var item in Model.InvoiceLine)
                    {
                        <tr>
                            @*list out all the data*@
                            <td>@Html.DisplayFor(tableItem => item.StockItemID)</td>
                            <td>@Html.DisplayFor(tableItem => item.Description)</td>
                            <td>$@Html.DisplayFor(tableItem => item.LineProfit)</td>
                            <td>@Html.DisplayFor(tableItem => item.Invoice.Person.FullName)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}